{
    "api_key": "cloudflare-api-key",
    "zones": [
        {
            "name": "example.com",
            "records": [
                {
                    "record": "@",
                    "type": "A",
                    "ip": "%"
                }
            ]
        },
        {
            "name": "example.com",
            "records": [
                {
                    "record": "www",
                    "type": "A",
                    "ip": "%"
                }
            ]
        }
    ]
}